<h1>Welcome to Online Beat Maker!</h1>
<p>
  <button type="button" class="btn btn-warning mr-3" (click)="chorus()">Chorus</button>
  <button type="button" class="btn btn-danger" (click)="phaser()">Phaser</button>
</p>

<div class="piano">
  <div class="octive" *ngFor="let o of octives; let lst = last;">
    <span class="octive-num">{{o}}</span>
    <div class="key" *ngFor="let key of notes; " (mouseover)="msover(key+o)" (mousedown)="msdown=true;play(key+o);" (mouseup)="msdown=false" [ngClass]="{'sharp':( key.indexOf('#') >= 1), 'last':lst}">
    {{key}}
    </div>
  </div>
</div>

<button type="button" class="btn btn-warning mr-3 mb-3 mt-3" (click)="record()">Record</button>
<button type="button" class="btn btn-danger mr-3 mb-3 mt-3" (click)="clear()">Clear</button>
<button type="button" class="btn btn-success mr-3 mb-3 mt-3" (click)="playRecording()">Play</button>

<div class="col">
  <button *ngFor="let note of recorded" class="btn btn-secondary mr-3 mb-3">{{note.note}}</button>
</div>
