<h1>Welcome to Online Beat Maker!</h1>
<p>
  <button type="button" class="btn btn-warning mr-3" (click)="chorus()">Chorus</button>
  <button type="button" class="btn btn-danger" (click)="phaser()">Phaser</button>
</p>

<div class="piano">
  <div class="octive" *ngFor="let o of octives; let lst = last;">
    <span class="octive-num">{{o}}</span>
    <div class="key" *ngFor="let key of notes; " (mouseover)="msover(key+o)" (mousedown)="msdown=true;play(key+o);" (mouseup)="msdown=false" [ngClass]="{'sharp':( key.indexOf('#') >= 1), 'last':lst}">
    {{key}}
    </div>
  </div>
</div>
